# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Pytest
.pytest_cache/

# Project specific - Large Data
data/row/
data/dwd/
data/ads/
data/*.zip
data/*.cfg

# OS metadata
.DS_Store
Thumbs.db
